
/*
.pokemon-card {
    display: inline-block;
    position: relative; 
    width: 100px;
    height: 180px;
    border: 2px solid #ddd;
    padding: 16px;
    margin: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
  }
*/

/* Default styles for screens wider than 400px */
.pokemon-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(20% - 32px); 
    max-width: 400px; /* Limit the maximum width to 400px */
    height: 35vh;
    border: 2px solid #ddd;
    padding: 16px;
    margin: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
  }
  
  /* Media query for screens less than 400px wide */
  @media screen and (max-width: 400px) {
    .pokemon-card {
      width: 80%; 
      margin: 0;
    }
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }
  

  .transparent-button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .favorite-icon-active {
    color: red;
  }

  .favorite-icon-inactive {
    color: black;
  }

  
  .pokemon-types {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
  }

  @media screen and (max-width: 400px) {
    .pokemon-types {
      display: flex;
      flex-wrap: wrap;
      margin-top: 24px;
      justify-content: center;
    }
  }
  
  .type {
    background-color: #ffcc00;
    color: #333;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 4px;
  }
  
  p {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%; /* Ensure the image doesn't exceed its parent's width */
    height: auto; /* Maintain aspect ratio */
  }

    