#root {
  text-align: center;
  display: flex;
  justify-content: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-size: 16px;
}

body {
  overflow: auto;
  background-color: #2e2d2e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2388868a' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

/* PokemonInfoPage */
.info-bg-container {
  padding: 2rem 0;
  width: 100%;
  margin: 1rem 0;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-bg-container h5 {
  font-size: 1.1rem;
  margin: 5px;
}

.pokeball-icon {
  position: absolute;
  width: 250px;
  opacity: 0.4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.info-container {
  color: white;
  padding: 100px 0 0 0;
}

.pokemon-card {
  width: 100%;
  max-width: 500px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  border: solid 1px #a7a7a7;
  box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.5);
  padding: 1rem;
  background: linear-gradient(to bottom, rgba(60, 60, 60, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: hue-rotate(10deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pokemon-sprite {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  animation: fadeIn 1s ease-in-out;
}

.type-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}

.type-badge {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 0.5rem;
  font-weight: 800;
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.5);
  color: var(--text-color)
}

.type-badge img {
  width: 10px;
  height: 10px;
  margin-right: 3px;
}

.pokemon-description {
  width: 100%;
  text-align: left;
  margin: 0.5rem;
  max-width: 500px;
  border: solid 1px #a7a7a7;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, rgba(60, 60, 60, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.next-btn, .prev-btn {
  background-color: rgba(104, 104, 104, 0.5); /* Darken the background color */
  border: none;
  border-radius: 10px;
  padding: 2px 5px;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  margin: 0 0.5rem;
  transition: background-color 0.3s, color 0.3s;
  transform: scale(1.1);
}

.next-btn:hover, .prev-btn:hover {
   background-color: #fff;
   color:rgba(0, 0, 0, 0.5);
}

.next-btn:active, .prev-btn:active {
  border: 2px solid #fff; 
}

.pokemon-dimensions {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 10px 0;
  
}

.pokemon-height, .pokemon-weight {
  border: solid 1px #a7a7a7;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, rgba(60, 60, 60, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.pokemon-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 1em 0 3em 0;
  border-radius: 0.5em;
  border: solid 1px #a7a7a7;
  box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, rgba(60, 60, 60, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.pokemon-stats h5 {
  text-align: right;
  text-transform: capitalize;
}

.parameter-container {
  width: 80%;
}

.statbar-container {
  height: 18px;
  width: 100%;
  background-color: #a7a7a7;
  border-radius: 1rem;
  margin-top: 3px;
}

.statbar-segment {
  height: 18px;
  display: inline-block;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 0.8rem;
  min-width: 5%;
  animation: statSlideIn 2s ease-in-out;
  filter: hue-rotate(15deg);
}

@media screen and (max-width: 500px) {
  .pokemon-card, 
  .info-pokemon-data, 
  .pokemon-description,
  .pokemon-stats{
    width: 90%;
  }
}
  
